<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.api.mappers.OrderMapper">
    <select id="findById" resultMap="records.order">
        SELECT
        <include refid="columns.order"/>
        FROM orders O
        LEFT JOIN users U ON U.id = O.user_id
        LEFT JOIN orderItems OI on O.id = OI.order_id
        WHERE U.id = #{user_id} AND O.id = #{order_id}
    </select>

    <!--<insert id="save">-->
    <!--INSERT INTO products (id, name, description, price, rating)-->
    <!--VALUES (#{product.id}, #{product.name}, #{product.description}, #{product.price},  #{product.rating})-->
    <!--</insert>-->

    <!--<select id="findAll" resultMap="records.product">-->
        <!--SELECT-->
        <!--<include refid="columns.product"/>-->
        <!--FROM products P-->
    <!--</select>-->
</mapper>
